dist: trusty
sudo: false

language: cpp

compiler:
  - gcc
  - clang

before_script:
  - ./.travis_bootstrap.sh
  - mkdir build
  - cd build
  - cmake --version
  - cmake .. -DCMAKE_PREFIX_PATH=/home/travis/jsoncpp/install

script:
  - make
  - cd ../tests
  - ./run_tests.sh
